_wandb:
    value:
        cli_version: 0.22.3
        e:
            vyrg3rwxn3p355w9hc1mdp72i805zz8g:
                args:
                    - task=bin
                    - model=gemma3
                    - train=none
                    - cluster=osc_ascend
                    - seed=0
                    - prefix=funsearch_gemma3_1B_baseline
                    - num_rounds=2701
                    - num_cont_rounds=100
                    - gpu_nums=0
                    - wandb=1
                    - project=cse-6521-project
                    - entity=hananenmoussa
                    - run_or_dev=run
                codePath: src/experiments/main.py
                codePathLocal: src/experiments/main.py
                cpu_count: 96
                cpu_count_logical: 96
                cudaVersion: "13.0"
                disk:
                    /:
                        total: "204010946560"
                        used: "31654084608"
                executable: /users/PAA0201/hananemoussa/.conda/envs/evotune/bin/python
                git:
                    commit: 4c8ea8174e6473e784e782feb0cee24a3b1fcf2f
                    remote: https://github.com/hananemoussa/EvoTune.git
                gpu: NVIDIA A100-SXM4-80GB
                gpu_count: 1
                gpu_nvidia:
                    - architecture: Ampere
                      cudaCores: 6912
                      memoryTotal: "85899345920"
                      name: NVIDIA A100-SXM4-80GB
                      uuid: GPU-f761074a-525d-a829-d93f-b6af992f41a1
                host: a0006.ten.osc.edu
                memory:
                    total: "1081776627712"
                os: Linux-5.14.0-427.96.1.el9_4.x86_64-x86_64-with-glibc2.34
                program: /fs/ess/PAA0201/hananemoussa/EvoTune/src/experiments/main.py
                python: CPython 3.10.19
                root: /fs/ess/PAA0201/hananemoussa/EvoTune
                slurm:
                    cluster_name: ascend
                    conf: /var/spool/slurmd/conf-cache/slurm.conf
                    cpus_on_node: "12"
                    cpus_per_task: "12"
                    gpus_on_node: "1"
                    gpus_per_node: "1"
                    gtids: "0"
                    job_account: paa0201
                    job_cpus_per_node: "12"
                    job_end_time: "1764282288"
                    job_gid: "6044"
                    job_gpus: "1"
                    job_gres: gres/gpu:1
                    job_id: "2929260"
                    job_name: funsearch_gemma3_1B_baseline
                    job_nodelist: a0006
                    job_num_nodes: "1"
                    job_partition: quad
                    job_qos: ascend-default
                    job_start_time: "1764109488"
                    job_uid: "46117"
                    job_user: hananemoussa
                    jobid: "2929260"
                    localid: "0"
                    mem_per_node: "102400"
                    nnodes: "1"
                    nodeid: "0"
                    nodelist: a0006
                    nprocs: "1"
                    ntasks: "1"
                    ntasks_per_node: "1"
                    oom_kill_step: "0"
                    prio_process: "0"
                    procid: "0"
                    script_context: prolog_task
                    submit_dir: /fs/ess/PAA0201/hananemoussa/EvoTune
                    submit_host: ascend-login02.hpc.osc.edu
                    task_pid: "702503"
                    tasks_per_node: "1"
                    time_limit: "172800"
                    topology_addr: a0006
                    topology_addr_pattern: node
                    tres_per_task: cpu=12
                startedAt: "2025-11-25T22:25:35.625913Z"
                writerId: vyrg3rwxn3p355w9hc1mdp72i805zz8g
        m: []
        python_version: 3.10.19
        t:
            "1":
                - 1
                - 5
                - 11
                - 12
                - 41
                - 49
                - 50
                - 51
                - 53
                - 71
                - 84
                - 95
                - 98
            "2":
                - 1
                - 5
                - 11
                - 12
                - 41
                - 49
                - 50
                - 51
                - 53
                - 71
                - 84
                - 95
                - 98
            "3":
                - 13
                - 16
            "4": 3.10.19
            "5": 0.22.3
            "6": 4.57.1
            "10":
                - 20
            "12": 0.22.3
            "13": linux-x86_64
accelerate_config:
    value: 1gpu_0
cluster:
    value:
        scratch_path: $PFSDIR
        use_tgi: 0
        use_vllm: 1
creative_prompt:
    value: 1
descending_order:
    value: 1
entity:
    value: hananenmoussa
eval_frequency:
    value: 100
evalset:
    value: trainperturbedset
final_percentile:
    value: 0.2
finetuning_frequency:
    value: 10000000000
flash_attn:
    value: 0
full_accelerate_config:
    value: ./configs/accelerate_config/1gpu_0.yaml
full_model_name:
    value: google/gemma-3-1b-it
function_str_to_extract:
    value: priority
gpu_nums:
    value: 0
group_name:
    value: funsearch_gemma3_1B_baseline/bin_gemma3_none
initial_percentile:
    value: 0.6
logs_dir:
    value: out/logs/funsearch_gemma3_1B_baseline/bin_bin_gemma3_none_0
logs_path:
    value: .
lora_config:
    value:
        lora_alpha: 32
        r: 64
lr_annealing:
    value: 0
max_loops:
    value: 1
model:
    value:
        max_tokens: 2048
        model_name: gemma3
        temperature: 0.7
        topk: 100
        topp: 0.95
model_adapter_dir:
    value: out/logs/funsearch_gemma3_1B_baseline/bin_bin_gemma3_none_0/model_adapter_gemma3
model_dtype:
    value: bfloat16
multiple_models:
    value: 0
num_cont_rounds:
    value: 100
num_outputs_per_prompt:
    value: 8
num_rounds:
    value: 2701
num_workers:
    value: 12
one_tuning:
    value: 1
percentile:
    value: 70
prefix:
    value: funsearch_gemma3_1B_baseline
programdatabaseConfig:
    value:
        functions_per_prompt: 2
        num_islands: 6
        temp: 40
        temp_sampling_flag: 1
project:
    value: cse-6521-project
run_identifier_name:
    value: bin_gemma3_none
run_or_dev:
    value: run
seed:
    value: 0
task:
    value:
        OR: 1
        Weibull: 0
        failed_score: -20000
        function_str_to_extract: priority
        init_best_fit: 1
        initial_percentile: 0.3
        mem_limit_gb: 10
        programdatabaseConfig:
            temp: 40
        task_name: bin
        timeout_period: 60
testset:
    value: testset
top_k_functions_for_test:
    value: 50
train:
    value:
        dpo_strategy: 2
        finetuning_frequency: 10000000000
        train_method_name: none
use_tgi:
    value: 0
use_vllm:
    value: 1
wandb:
    value: 1
wandb_name:
    value: funsearch_gemma3_1B_baseline/bin_gemma3_none_0
